node_modules/
image/cache
system/cache
system/database
system/engine
system/logs
system/library
system/helper
config.php
admin/config.php
.idea
.DS_Store

.idea/.name

.idea/cssxfire.xml

.idea/encodings.xml

.idea/jsLibraryMappings.xml

.idea/modules.xml

.idea/misc.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml

