body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-size: 14px;
  font-size: 0.875rem;
  letter-spacing: 0.03em;
  margin-bottom: 2em;
}

h1,h2,h3,h4,h5,h6 { color: #666;}

.box {
  padding: 0.25em 1em;
  margin-left: .725em;
  color: #fff;
  opacity: 0.85;
  background-color: #34495E;
  box-shadow: #253545 -10px 0px 0px 0px;
}

.box-notice {
  padding: 0.25em 1em;
  margin-left: .725em;
  color: #fff;
  opacity: 0.85;
  background-color: #3498DB;
  box-shadow: #155E8F -10px 0px 0px 0px;
}
.box-warning {
  padding: 0.25em 1em;
  margin-left: .725em;
  color: #fff;
  opacity: 1;
  background-color: #F2CF5B;
  box-shadow: #C4A849 -10px 0px 0px 0px;
}
.box-alert {
  padding: 0.25em 1em;
  margin-left: .725em;
  color: #fff;
  opacity: 1;
  background-color: #CF5C60;
  box-shadow: #943D40 -10px 0px 0px 0px;
}