#elements {
    width: 100%;
    table-layout: fixed;
}
#elements > tbody > tr > td {
    border: 1px solid #add8e6;
    overflow: auto;
    text-align: center;
    padding: 1em;
    position: relative;
}
#elements > tbody > tr > td > textarea {
    width: 100%;
    min-height: 100px;
}
#elements > tbody > tr > td:last-child {
    text-align: left;
}
#elements > tbody > tr.section > td {
    padding: 0;
    border: none;
    vertical-align: bottom;

}
#elements > tbody > tr.section > td h2 {
    font-size: 1.5em;
    margin: 0;
    background-color: #add8e6;
    padding: 0.5em;
}

#fragments {
    display: none;
}