.tdcss-fragments,
.tdcss-elements,
.tdcss-section,
.tdcss-section .tdcss-h2,
.tdcss-fragment,
.tdcss-dom-example,
.tdcss-code-example,
.tdcss-dom-example,
.tdcss-code-example,
.tdcss-code-example .tdcss-h3,
.tdcss-code-example .tdcss-textarea
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}

.tdcss-fragments {
    display: none;
}

.tdcss-elements {
    width: 100%;
}

.tdcss-section {
    padding: 1px 0 0 0;
    border: none;
    vertical-align: bottom;
    width: 100%;
    margin-bottom: 1em;
}
.tdcss-section .tdcss-h2 {
    display: block;
    color: white;
    font-size: 20px;
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 10px;
    text-shadow: 0 -1px rgba(0,0,0,0.1);
    background-color: #add8e6;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #add8e6), color-stop(100%, #96cddf));
    background: -webkit-linear-gradient(top, #add8e6, #96cddf);
    background: -moz-linear-gradient(top, #add8e6, #96cddf);
    background: -o-linear-gradient(top, #add8e6, #96cddf);
    background: linear-gradient(top, #add8e6, #96cddf);
}
.tdcss-section .tdcss-h2:after {
    content: "\25BC";
    float: right;
    font-size: 65%;
}
.tdcss-section.is-collapsed .tdcss-h2:after {
    content: "\25B2";
    float: right;
}
.tdcss-section:hover .tdcss-h2 {
    background-color: #b1dcea;
}

.tdcss-fragment {
    overflow: hidden;
    position: relative;
    padding: 0 1em;
    margin-bottom: 2em;
}
.tdcss-dom-example,
.tdcss-code-example {
    float: left;
}
.tdcss-dom-example {
    position: relative;
    padding: 1em;
    width: 60%;
}
.tdcss-code-example {
    position: relative;
    border-left: 1px solid #add8e6;
    background-color: white;
    z-index: 1000;
    width: 40%;
    padding: 1em;
}
.tdcss-code-example .tdcss-h3 {
    font-weight: bold;
    color: white;
    background-color: #add8e6;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.tdcss-code-example .tdcss-textarea {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 100px;
    border: 1px solid #bbb;
    border-radius: 0;
    font-size: 0.9em;
    line-height: 1.25em;
    overflow: hidden;
}

