@import url(vendors/google-code-prettify/prettify.css);

ol.linenums{
    margin: 0;
    padding: 0;
}
ol.linenums li {
    list-style-type: none;
}


.tdcss-fragments,
.tdcss-elements,
.tdcss-section,
.tdcss-section .tdcss-h2,
.tdcss-fragment,
.tdcss-description,
.tdcss-dom-example,
.tdcss-code-example,
.tdcss-dom-example,
.tdcss-code-example,
.tdcss-code-example .tdcss-h3,
.tdcss-code-example .tdcss-textarea
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.tdcss-fragments {
    display: none;
}

.tdcss-elements {
    width: 100%;
}

.tdcss-section {
    padding: 1px 0 0 0;
    border: none;
    vertical-align: bottom;
    width: 100%;
}
.tdcss-section .tdcss-h2 {
    display: block;
    color: white;
    font-size: 20px;
    font-family: verdana, sans-serif;
    margin: 0;
    padding: 10px;
    text-shadow: 0 -1px rgba(0,0,0,0.1);
    background-color: #add8e6;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #add8e6), color-stop(100%, #96cddf));
    background: -webkit-linear-gradient(top, #add8e6, #96cddf);
    background: -moz-linear-gradient(top, #add8e6, #96cddf);
    background: -o-linear-gradient(top, #add8e6, #96cddf);
    background: linear-gradient(top, #add8e6, #96cddf);
}
.tdcss-section .tdcss-h2:after {
    content: "\25BC";
    float: right;
    font-size: 12px;
}
.tdcss-section.is-collapsed .tdcss-h2:after {
    content: "\25B2";
    float: right;
}
.tdcss-section:hover .tdcss-h2 {
    background-color: #44ea85;
}

.tdcss-fragment {
    overflow: hidden;
    position: relative;
    padding: 0 1em;
    margin: 1em 0;
}

.tdcss-description {
    font-family: verdana, sans-serif;
    font-size: 14px;
    color: #898989;
    background-color: #f0f0f0;
    border: 1px solid #e7e7e7;
    padding: 1em 10px;
    margin-bottom: 1em;
}

.tdcss-dom-example,
.tdcss-code-example {
    float: left;
}
.tdcss-dom-example {
    position: relative;
    padding: 1em;
    width: 60%;
}
.tdcss-code-example {
    position: relative;
    border-left: 1px solid #add8e6;
    background-color: white;
    z-index: 1000;
    width: 40%;
    padding: 1em;
}
.tdcss-code-example .tdcss-h3 {
    font-family: verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 0.25em;
    color: white;
    background-color: #add8e6;
    margin-top: 0;
    margin-bottom: 0.5em;
}
.tdcss-code-example pre {
    display: block;
    width:98%;
    height: 100%;
    min-height: 100px;
    border: 1px solid #eaeaea;
    border-radius: 0;
    font-size: 0.9em;
    line-height: 1.25em;
    overflow: auto;
}
